// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(19, 90%, 85%),   // Very light burnt orange
    200: hsl(19, 90%, 75%),   // Light burnt orange
    300: hsl(19, 90%, 67%),   // Mid-light burnt orange
    400: hsl(19, 90%, 62%),   // Slightly darker than primary.500
    500: hsl(19, 90%, 57%),   // The provided color #F68143
    600: hsl(19, 90%, 52%),   // Darker variant
    700: hsl(19, 90%, 47%),   // Even darker
  ),
  secondary: (
    100: hsl(205, 100%, 85%), // Lightest Blue
    200: hsl(205, 80%, 76%),
    300: hsl(205, 70%, 67%),
    400: hsl(205, 75%, 57%),
    500: hsl(205, 90%, 45%), // Darkest Blue
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
