---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Hero from '../components/Hero.astro';
import BlogCard from '../components/BlogCard.astro';
import { loadPosts } from '../util/loadPosts';

const posts = await loadPosts();
---

<DefaultLayout title="Home">
  <Hero />
  <div class="mt-8 bg-gray-100 pb-12 pt-6 dark:bg-zinc-900">
    <div class="container">
      <h2 class="mb-4 text-center">Latest Posts</h2>
      <div>
        <ul class="flex flex-col gap-8">
          {
            posts.map((post) => (
              <li>
                <BlogCard link={post.slug} summary={post.summary} title={post.title} date={post.publishDate} />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</DefaultLayout>
