---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container text-center">
      Copyright &copy; {new Date().getFullYear()} Jody LeCompte.
    </div>
  </section>
</footer>
