---
import SocialMedia from './SocialMedia.astro';
const currentYear = new Date().getFullYear();
---

<footer>
  <section class="py-8">
    <div class="container text-center">
      Copyright &copy; {new Date().getFullYear()} Jody LeCompte.
    </div>
    <div class="mt-4 flex justify-center gap-3">
      <SocialMedia />
    </div>
  </section>
</footer>
